@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500');

.custom.controller {
    //width: 1900px;
    //height: 360px;
    font-family: 'Orbitron', sans-serif;
    //background: #fd1601;
}


/* Indicators */
.custom .stick{
    width: 20px;
    height: 20px;
    background: #fd1601;
    display: inline-block;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}


/* - END COMMON STUFF - */

/* This part makes up the background of the Roll part */
.custom .triggers{
    width: 129px;
    height: 20px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    border: 2px solid #f2a92d;
    border-radius: 20px;
    background-image: linear-gradient(90deg, transparent 48%, #f6d88a 49%, #f6d88a 50%, #f6d88a 51%, transparent 52%, transparent);
    background-size: 100% calc(100% - 10px);
    background-repeat: no-repeat;
    background-position: center;
    padding: 5px;
    //right: 0;
    //top: 125px
}


/* Background for 2d area*/
.custom .sticks{
    width: 135px;
    height: 135px;
    display: inline-block;
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid #f2a92d;
    border-radius: 15px;
    background-image: linear-gradient(0deg, transparent 48%, #f6d88a 49%, #f6d88a 50%, #f6d88a 51%, transparent 52%, transparent), linear-gradient(90deg, transparent 48%, #f6d88a 49%, #f6d88a 50%, #f6d88a 51%, transparent 52%, transparent);
    top: 70px;
    //right: -100%;
    //transform: translateX(-100%);
    background-size: calc(100% - 15px) 100%, 100% calc(100% - 15px);
    background-repeat: no-repeat;
    background-position: center;
    padding: 2px;

}



/* Here we position the title for the Roll axis */
.custom .triggers:after{
    content: "ROLL";
    display: inline-block;
    position: absolute;
    font-size: 14px;
    color: #f2a92d;
    top: -1.5em;
    right: 50%;
    transform-origin: center;
    transform: translateX(50%);
}



/* This is to position the Roll pointer */
.custom .stick.right{
    top: -55px;
    left: 70px;
}

.custom .sticks:before{
    content: "LEFT-RIGHT";
    display: inline-block;
    position: absolute;
    font-size: 15px;
    color: #f2a92d;
    top: -1.5em;
    left: 50%;
    transform: translateX(-50%);
}

.custom .sticks:after{
    content: "UP-DOWN";
    display: inline-block;
    position: absolute;
    font-size: 15px;
    color: #f2a92d;
    top: 50%;
    right: calc(80% + 1.25em);
    transform-origin: center;
    transform: translateY(-50%) rotate(-90deg);
}

/* Position of Pitch/Yaw indicator*/
.custom .stick.left{
    top: 70px;
    left: 70px;
}

#sleek-button{
     display: none;
}
