@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500');

.custom.controller {
    //width: px;
    //height: 400px;
    font-family: 'Orbitron', sans-serif;
    //background: #fd1601;
}

/* Indicators */
.custom .stick{
    width: 20px;
    height: 20px;
    background: #fd1601;
    display: inline-block;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}


/* - END COMMON STUFF - */

/* Background for 2d area*/
.custom .sticks{
    width: 135px;
    height: 135px;
    display: inline-block;
    position: relative;
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid #f2a92d;
    border-radius: 15px;
    background-image: linear-gradient(0deg, transparent 48%, #f6d88a 49%, #f6d88a 50%, #f6d88a 51%, transparent 52%, transparent), linear-gradient(90deg, transparent 48%, #f6d88a 49%, #f6d88a 50%, #f6d88a 51%, transparent 52%, transparent);
    top: calc(42px);
    background-size: calc(100% - 15px) 100%, 100% calc(100% - 15px);
    background-repeat: no-repeat;
    background-position: center;
    padding: 2px
}

/*
// Background for vertical slider
.custom .triggers{
    width: 20px;
    height: 135px;
    display: inline-block;
    background: rgba(0, 0, 0, 0.4);
    position: relative;
    border: 2px solid #f2a92d;
    border-radius: 20px;
    background-image: linear-gradient(0deg, transparent 48%, #f6d88a 49%, #f6d88a 50%, #f6d88a 51%, transparent 52%, transparent);
    background-size: calc(100% - 10px) 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5px
}
*/


.custom .triggers:after{
    content: "DOWN / UP";
    display: inline-block;
    position: absolute;
    font-size: 14px;
    color: #f2a92d;
    top: 50%;
    right: calc(-200%);
    transform-origin: center;
    transform: translateY(-50%) rotate(-90deg);
}



.custom .sticks:before{
    content: "LEFT / RIGHT";
    display: inline-block;
    position: absolute;
    font-size: 15px;
    color: #f2a92d;
    top: -20px;
    left: 15px;
}


.custom .sticks:after{
    content: "UP / DOWN";
    display: inline-block;
    position: absolute;
    font-size: 15px;
    color: #f2a92d;
    top: 60px;
    transform: translateX(100px) rotate(-90deg);
}


/* Position of left/right indicator*/
.custom .stick.left{
    top: 50%;
    left: 50%;
}

/* Position of verticle indicator */
.custom .stick.right{
    top: calc(-120px);
    left: 73px;
}

.custom .stick.right{
    display: none;
}

#sleek-button{
     display: none;
}
